<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.2"
  xmlns="http://java.sun.com/xml/ns/persistence">
  <persistence-unit name="socialgame" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>jdbc/socialgame</jta-data-source>
    <properties>
      <property name="eclipselink.ddl-generation" value="create-tables"/>
    </properties>
  </persistence-unit>
</persistence>